[Unit]
Description=Cassandra Service


[Service]
Type=forking
PIDFile=/opt/cassandra/PID
ExecStart=/opt/cassandra/start.sh
ExecStop=/opt/cassandra/stop.sh
Restart=always
# Todo implement a clean shutdown in stop or reload.
#ExecReload=/opt/cassandra/reload.sh
TimeoutStopSec=180
TimeoutStartSec=180
RootDirectory=/opt/cassandra

[Install]
WantedBy=multi-user.target
