[Unit]
Description=Cassandra Service


[Service]
PIDFile=/opt/cassandra/PID
ExecStart=/opt/cassandra/bin/cassandra -p /opt/cassandra/PID
ExecStop=/opt/cassandra/stop.sh
Restart=always
RestartSec=60
# Todo implement a clean shutdown in stop or reload.
#ExecReload=/opt/cassandra/reload.sh
TimeoutStopSec=60
TimeoutStartSec=60
RootDirectory=/opt/cassandra
User=cassandra


[Install]
WantedBy=multi-user.target
